# Environment variables configuration for the Restaurant Management API
PORT=
NODE_ENV=
DEBUG_QUERIES=

# The connection URI for MongoDB
MONGODB_URI=

# The supported languages for the API, separated by commas
SUPPORTED_LANGUAGES=en,ar
